<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.mapper.UserMapper">

    <!--根据书名查询数据-->
    <select id="login" resultType="int">
        select count(*) from ssmbuild.sys_user where
        username = #{username} and password = #{password};
    </select>


    <select id="getUserList" resultType="User">
        select * from sys_user limit #{from},#{pageSize};
    </select>

    <select id="count" resultType="int">
        select count(1) from sys_user where del_flag = '0';
    </select>


    <select id="getUserById" resultType="User">
        select * from sys_user where del_flag = '0' and id = #{id};
    </select>

    <delete id="delById">
      update sys_user set del_flag = '1' where id = #{id};
    </delete>

    <insert id="addSave" parameterType="User">
        insert into sys_user (
          <trim suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="birthday != null">birthday,</if>
            <if test="imgurl != null and imgurl != ''">imgurl,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="status != null and status != ''">status,</if>
          </trim>
        )values(
          <trim suffixOverrides=",">
              <if test="username != null and username != ''">#{username},</if>
              <if test="password != null and password != ''">#{password},</if>
              <if test="address != null and address != ''">#{address},</if>
              <if test="birthday != null">#{birthday},</if>
              <if test="imgurl != null and imgurl != ''">#{imgurl},</if>
              <if test="content != null and content != ''">#{content},</if>
              <if test="status != null and status != ''">#{status},</if>
          </trim>
        )
    </insert>

    <update id="editSave" parameterType="User">
        update sys_user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateStatus" parameterType="User">
        update sys_user
        <set>
            <!--虽然此处status是字符串类型 但是判断的时候也不需要加引号-->
            <if test="status != null and status != '' and status == 0">
                status = '1'
            </if>
            <if test="status != null and status != '' and status == 1">
                status = '0'
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
