#box{
    margin: 100px;
    width: 450px;

}
/** 表单验证 样式布局 **/
label.error {
    position: absolute;
    right: 18px;
    top: 10px;
    color: #ef392b;
    font-size: 12px
}

.input-group label.error {
    z-index:99;
    right: 42px
}

.input-group.date label.error {
    z-index:99;
    right: 3px
}

.Validform_error,input.error,select.error {
    background-color: #fbe2e2;
    border-color: #c66161;
    color: #c00
}

.Validform_wrong,.Validform_right,.Validform_warning {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 25px
}

.i-checks label.error, .check-box label.error, .radio-box label.error {
    right: auto;
    width: 150px;
    left: 210px;
    top: 1px;
    max-width: none;
}